@media screen and (max-width: 767px) {
  body {
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-size: .8rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-weight: 400;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-letter-spacing: .01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--heading-font: "DM Sans", sans-serif;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-size: 3.59rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-size: 2.69rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-size: 1.52rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-size: 1.14rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-size: 1.08rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-size: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-size: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-letter-spacing: .1em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-margin-bottom: .7em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font: Manrope, sans-serif;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-lg--lg-text-size: 1.1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-lg--lg-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-lg--lg-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xl--xl-text-size: 1.3rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xl--xl-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xl--xl-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-sm--sm-text-size: .88rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-sm--sm-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-sm--sm-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---button--button-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--button-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-size: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xxl--xxl-text-size: 1.6rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xxl--xxl-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xxl--xxl-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---tag--tag-size: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text--text-size: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--button-font: Manrope, sans-serif;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-weight-bold: 600;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-line-height: 1.6rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text--text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text--text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-radius: 0px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-border-width: 3px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-size: .8rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-letter-spacing: .01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-75x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-width: 1280px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-lg-width: 1440px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-sm-width: 1000px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-tablet\<deleted\|variable-ee5fee03-9f5f-fa94-863a-74076777e574\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--7x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-l\<deleted\|variable-24c154e3-e2bd-2abe-9e97-cc8c13b92cad\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--6x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-p\<deleted\|variable-db6b96b3-2108-c94d-520b-97f547fae1ec\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-25x: 1.25rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--md-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xxl-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--6x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--lg-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--4x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-radius: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-padding-vertical: 1em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-padding-horizontal: 1.5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-75x: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---input--input-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---input--input-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---input--input-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x: 2rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-5x: .5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x: 1.5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--sm-radius: .25rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--4x: 4rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--round: 100rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x: 5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x: 3rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---image--image-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-radius);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--8x: 8rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-tablet\<deleted\|variable-6cc22bfd-2df9-6b9d-c99e-fb5b9e0b9202\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-l\<deleted\|variable-2a022f41-6678-bea5-0011-a28ef08eeb2c\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-p\<deleted\|variable-8ffe64f7-5df6-3612-eccc-e3b77e1606d7\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xxs-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-25x: .25rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---tag--tag-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---tag--tag-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--md-radius: .5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--lg-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--xl-radius: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--6x: 6rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xl-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-75x: 1.75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--7x: 7rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-size);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---nav--nav-height: 4rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---tag--tag-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-25x);
  }

  .section {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-l\<deleted\|variable-24c154e3-e2bd-2abe-9e97-cc8c13b92cad\>);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-l\<deleted\|variable-24c154e3-e2bd-2abe-9e97-cc8c13b92cad\>);
  }

  .grid_2-col {
    grid-template-columns: minmax(0, 1fr);
  }

  .grid_2-col.gap-small {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
  }

  .grid_2-col.gap-medium {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
  }

  .grid_2-col.mobile-l-1-col {
    grid-template-columns: 1fr;
  }

  .grid_2-col.gap-xxlarge, .grid_2-col.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
  }

  .margin-top_none {
    margin-top: 0;
  }

  .margin-bottom_none {
    margin-bottom: 0;
  }

  .padding-bottom_none {
    padding-bottom: 0;
  }

  .padding-top_none {
    padding-top: 0;
  }

  .padding-bottom_small {
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
  }

  .padding-top_small {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
  }

  .position_sticky.mobile-relative {
    position: sticky;
  }

  .margin-right_none {
    margin-right: 0;
  }

  .margin-left_none {
    margin-left: 0;
  }

  .margin-top_small {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
  }

  .margin-top_large {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .margin-top_large.mobile-landscape-0 {
    margin-top: 0;
  }

  .margin-top_medium {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
  }

  .margin-bottom_small {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
  }

  .margin-bottom_medium {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
  }

  .margin-bottom_large {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .padding-bottom_medium {
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
  }

  .padding-bottom_large {
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .padding-top_medium {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
  }

  .padding-top_large {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .rich-text blockquote {
    font-size: 1.5rem;
  }

  .card.ix_sticky-height-expand-wrapper {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
    height: auto;
  }

  .margin-top_xxlarge {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
  }

  .margin-bottom_xxlarge {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
  }

  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-l\<deleted\|variable-2a022f41-6678-bea5-0011-a28ef08eeb2c\>);
  }

  .slider_arrow {
    height: 40px;
    inset: 0%;
  }

  .slider_arrow.is-next {
    inset: auto 0% 0% auto;
  }

  .slider_arrow.is-previous {
    inset: auto auto 0% 0%;
  }

  .flex_horizontal.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .flex_horizontal.flex_vertical_mobile-l {
    flex-flow: column;
  }

  .flex_horizontal.mobile-horizontal {
    flex-flow: row;
  }

  .flex_horizontal.mobile-l-vertical {
    flex-flow: column;
  }

  .padding_large {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
  }

  .display_none_mobile-l {
    display: none;
  }

  .padding-bottom_xxlarge {
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .padding-top_xxlarge {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
  }

  .width_70percent_mobile-l {
    width: 70%;
  }

  .width_80percent_mobile-l {
    width: 80%;
  }

  .ratio_auto_mobile-l {
    aspect-ratio: auto;
  }

  .max-width_small {
    max-width: 100%;
  }

  .margin-top_xlarge {
    margin-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
  }

  .margin-bottom_xlarge {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
  }

  .padding-bottom_xlarge {
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .padding-top_xlarge {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .text-align_center_mobile-l {
    text-align: center;
  }

  .flex_vertical.gap-large {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .sg_logo {
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
  }

  .sg_nav-menu {
    justify-content: flex-start;
    height: 60px;
    margin-left: 0;
    padding-left: 6px;
    padding-right: 6px;
  }

  .width_100percent_mobile-l {
    width: 100%;
  }

  .hide_mobile-l {
    display: none;
  }

  .ix_card-change-width {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .ix_card-change-width-background.is-mobile-card {
    width: 100%;
    height: 100%;
  }

  .dropdown_toggle {
    justify-content: center;
    align-items: center;
  }

  .card_body_small {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-l\<deleted\|variable-2a022f41-6678-bea5-0011-a28ef08eeb2c\>);
  }

  .padding-horizontal_none, .padding-vertical_none {
    padding: 0;
  }

  .grid_3-col {
    grid-template-columns: 1fr;
  }

  .grid_9-col, .grid_6-col, .grid_5-col {
    grid-template-columns: minmax(0, 1fr) 1fr;
  }

  .grid_5-col.gap-small {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
  }

  .grid_5-col.gap-medium {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
  }

  .grid_4-col {
    grid-template-columns: minmax(0, 1fr);
  }

  .grid_1-col.gap-medium {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap);
  }

  .grid_1-col.gap-small {
    grid-column-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
    grid-row-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
  }

  .grid_12-col, .grid_8-col {
    grid-template-columns: minmax(0, 1fr) 1fr;
  }

  .tabs_nav, .tabs_nav.is-bottom {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .padding_none {
    padding: 0;
  }

  .header.is-2-col {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    display: flex;
  }

  .header {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .footer_bottom {
    text-align: center;
    flex-flow: column;
  }

  .position_sticky-bottom {
    position: relative;
  }

  .padding_small {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
  }

  .height_auto_mobile-l {
    height: auto;
    min-height: auto;
  }

  .margin-vertical_large {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
  }

  .margin-top_0_mobile-l {
    margin-top: 0;
  }

  .nav_logo-image {
    height: 8rem; /* or whatever size looks right */
  }

  #w-node-c566b793-7ed4-f098-3301-ccfdd3a617f5-d3a617ba.w-node-_1a6e1d88-5744-48ea-d198-9a7dc9601d53-055fd1ce {
    grid-column: span 2 / span 2;
  }

  #w-node-_851d61a1-1dad-400a-5b6a-92b99f998536-b17c3d94.w-node-_8489c8c1-07dc-6ab4-cde4-f5c814a2d0ce-14a2d0cb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6530-055fd1d7 {
    grid-column-start: 1;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6531-055fd1d7 {
    grid-column-end: 11;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6532-055fd1d7 {
    grid-column-start: 5;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6533-055fd1d7 {
    grid-column-end: 6;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6534-055fd1d7 {
    grid-column-end: 12;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e654b-055fd1d7 {
    grid-column: 1 / 4;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e654c-055fd1d7 {
    grid-column: 8 / 11;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e654d-055fd1d7 {
    grid-column-end: 9;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e654e-055fd1d7 {
    grid-column-start: 2;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e654f-055fd1d7 {
    grid-column-end: 13;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655a-055fd1d7 {
    grid-column-start: 1;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655b-055fd1d7 {
    grid-column-end: 11;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655c-055fd1d7 {
    grid-column-start: 5;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655d-055fd1d7 {
    grid-column-end: 6;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655e-055fd1d7 {
    grid-column-end: 12;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6565-055fd1d7 {
    grid-column: 2 / 4;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6566-055fd1d7 {
    grid-column: 2 / 8;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6567-055fd1d7 {
    grid-column-start: 5;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6568-055fd1d7 {
    grid-column-end: 7;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6584-055fd1d7, #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6585-055fd1d7 {
    grid-row: 1 / 5;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e65ad-055fd1d7 {
    order: -9999;
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e65b0-055fd1d7 {
    order: 9999;
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_026bb609-41ff-e8dc-7098-9278fac19805-fac197f7.w-node-_8b7dc65c-6ccd-ef76-b980-6f80d8a3b84c-0653ac4e {
    grid-column: span 1 / span 1;
  }

  #w-node-_04da3743-9ce2-6e2d-ee03-df10a8aa6687-6c55b82b.w-node-b7669384-f90d-3abf-488f-b1efb7b2bf3f-869f6535 {
    order: -9999;
  }

  .nav {
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .nav_container {
    position: sticky;
    top: 0;
  }

  .home-slider-slide {
    flex-basis: 100%;
    max-width: 100%;
  }
}