@media screen and (max-width: 479px) {
  body {
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-size: .8rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-weight: 400;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---eyebrow--eyebrow-letter-spacing: .01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-margin-bottom: .3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--heading-font: "DM Sans", sans-serif;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-size: 2.87rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-line-height: 1.2em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h0-heading--h0-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-margin-bottom: .3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-size: 2.15rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h1-heading--h1-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-margin-bottom: .35em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-size: 1.21rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h2-heading--h2-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-size: .91rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-line-height: 1.04em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h3-heading--h3-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-margin-bottom: .35em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-size: .97rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h4-heading--h4-letter-spacing: -.01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-size: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h5-heading--h5-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-margin-bottom: .5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-size: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-weight: 500;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---h6-heading--h6-letter-spacing: .1em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-margin-bottom: .7em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font: Manrope, sans-serif;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-lg--lg-text-size: 1.1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-lg--lg-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-lg--lg-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xl--xl-text-size: 1.2rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xl--xl-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xl--xl-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-sm--sm-text-size: .88rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-sm--sm-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-sm--sm-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---button--button-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--button-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-size: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xxl--xxl-text-size: 1.4rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xxl--xxl-text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text-xxl--xxl-text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---tag--tag-size: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text--text-size: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--button-font: Manrope, sans-serif;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-weight-bold: 600;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-line-height: 1.6rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text--text-letter-spacing: 0em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---text--text-line-height: 1.6em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-radius: 0px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-border-width: 3px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-font: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---font--body-font);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-size: .8rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-letter-spacing: .01em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-line-height: 1.3em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-75x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---blockquote--blockquote-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-25x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-width: 1280px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-lg-width: 1440px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---container--container-sm-width: 1000px;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--4x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-tablet\<deleted\|variable-ee5fee03-9f5f-fa94-863a-74076777e574\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--7x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-l\<deleted\|variable-24c154e3-e2bd-2abe-9e97-cc8c13b92cad\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--6x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-p\<deleted\|variable-db6b96b3-2108-c94d-520b-97f547fae1ec\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-25x: 1.25rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--sm-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--md-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xxl-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--6x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--lg-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--4x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-radius: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-padding-vertical: 1em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-padding-horizontal: 1.5em;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-75x: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---input--input-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---input--input-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---input--input-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1x: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x: 2rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-5x: .5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x: 1.5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--sm-radius: .25rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--4x: 4rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--round: 100rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x: 5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x: 3rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---image--image-radius: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-radius);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--8x: 8rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--3x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-tablet\<deleted\|variable-6cc22bfd-2df9-6b9d-c99e-fb5b9e0b9202\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--2x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-l\<deleted\|variable-2a022f41-6678-bea5-0011-a28ef08eeb2c\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-p\<deleted\|variable-8ffe64f7-5df6-3612-eccc-e3b77e1606d7\>: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xxs-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-25x: .25rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---tag--tag-padding-horizontal: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---tag--tag-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--md-radius: .5rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--lg-radius: .75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---radius--xl-radius: 1rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--6x: 6rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xl-gap: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--5x);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--1-75x: 1.75rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--7x: 7rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---button--button-size: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_typography---base-typography--base-font-size);
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---nav--nav-height: 4rem;
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---tag--tag-padding-vertical: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---spacing--0-25x);
  }

  .section {
    padding-top: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-p\<deleted\|variable-db6b96b3-2108-c94d-520b-97f547fae1ec\>);
    padding-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---section--section-padding-vertical-mobile-p\<deleted\|variable-db6b96b3-2108-c94d-520b-97f547fae1ec\>);
  }

  .button {
    white-space: nowrap;
  }

  .input_field.is-select {
    background-position: 96%;
  }

  .margin-top_none {
    margin-top: 0;
  }

  .margin-bottom_none {
    margin-bottom: 0;
  }

  .padding-bottom_none {
    padding-bottom: 0;
  }

  .padding-top_none {
    padding-top: 0;
  }

  .position_sticky.mobile-relative {
    position: relative;
  }

  .avatar {
    margin-bottom: 16px;
  }

  .margin-right_none {
    margin-right: 0;
  }

  .margin-left_none {
    margin-left: 0;
  }

  .button-group {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .card.ix_sticky-height-expand-wrapper {
    margin-bottom: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---gap--xs-gap);
    height: auto;
    min-height: auto;
  }

  .card_body {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-p\<deleted\|variable-8ffe64f7-5df6-3612-eccc-e3b77e1606d7\>);
  }

  .nav_mobile-menu-button.w--open {
    color: inherit;
  }

  .text-align_center_mobile {
    text-align: center;
  }

  .is-select {
    background-position: 96%;
  }

  .width_100percent_mobile {
    width: 100%;
  }

  .logo {
    color: inherit;
  }

  .heading-responsive_large {
    font-size: 12cqw;
    line-height: 1.2;
  }

  .sg_logo.w--current {
    align-items: center;
  }

  .nav_menu-full-screen {
    padding: 0;
  }

  .card_body_small {
    padding: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1759229239308_sizes---card--card-padding-mobile-p\<deleted\|variable-8ffe64f7-5df6-3612-eccc-e3b77e1606d7\>);
  }

  .padding-horizontal_none, .padding-vertical_none {
    padding: 0;
  }

  .grid_9-col, .grid_6-col, .grid_5-col, .grid_12-col, .grid_8-col {
    grid-template-columns: minmax(0, 1fr);
  }

  .padding_none {
    padding: 0;
  }

  .footer_icon-group {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .margin_none {
    margin: 0;
  }

  .position_sticky-bottom {
    position: relative;
  }

  .form_horizontal-wrapper {
    flex-direction: column;
  }

  #w-node-_851d61a1-1dad-400a-5b6a-92b99f998536-b17c3d94.w-node-_8489c8c1-07dc-6ab4-cde4-f5c814a2d0ce-14a2d0cb {
    grid-column: span 1 / span 1;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6530-055fd1d7 {
    grid-column-end: 4;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6531-055fd1d7 {
    grid-column-end: 12;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6532-055fd1d7 {
    grid-column-end: 8;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6533-055fd1d7 {
    grid-column-start: 3;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6534-055fd1d7 {
    grid-column-end: 13;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e653e-055fd1d7, #w-node-_6401b070-0ac8-bcf0-2647-73725f5e653f-055fd1d7 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655a-055fd1d7 {
    grid-column-end: 4;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655b-055fd1d7 {
    grid-column-end: 12;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655c-055fd1d7 {
    grid-column-end: 8;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655d-055fd1d7 {
    grid-column-start: 3;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e655e-055fd1d7 {
    grid-column-end: 13;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6565-055fd1d7 {
    grid-column-end: 5;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e6568-055fd1d7 {
    grid-column-end: 8;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e65a1-055fd1d7 {
    grid-column-end: 6;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e65a2-055fd1d7 {
    grid-column-start: 2;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e65a3-055fd1d7 {
    grid-column-start: 1;
  }

  #w-node-_6401b070-0ac8-bcf0-2647-73725f5e65a4-055fd1d7 {
    grid-column-end: 7;
  }

  #w-node-_54aa7a73-9cec-1e95-d1b2-f0cc4cd7feab-b1f84ccf.w-node-e5bc7b60-f4e5-2026-adc4-34e1d311b11c-df7276e1, #w-node-_25f8541a-af87-b3be-dfd7-8e4c62557276-b1f84ccf.w-node-e5bc7b60-f4e5-2026-adc4-34e1d311b11e-df7276e1, #w-node-_2ef895df-c773-26eb-4339-f405e0068865-b1f84ccf.w-node-e5bc7b60-f4e5-2026-adc4-34e1d311b120-df7276e1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}